

body {
  background-color: #a6b5f4 !important; 
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  background-color: #a6b5f4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.min-vh-100 {
  min-height: 100vh;
  
}
.filepond--panel-root {
  background-color: blue;
  
}


.filepond--drop-label {
  background-color: #5585b5;
  width: 40vh;
  border-radius: 20px;
  font-size: 50px;
  
}

.filepond--drip {
  background-color: chartreuse;
  border-radius: 20px;
  
}

.filepond--wrapper {
  width: 40vh;
  border-radius: 20%;
  
}

.filepond--root {
  /* margin: 5px; */
  border-radius: 20%;
}


.container{
  text-align: -webkit-center;
  background-color: #53a8b6; 
  margin: 200px;
  padding: 80px;
}

.carga {
  font-size: 200px;
}
